<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Add a new item</h1>
    <form action="/budget" method="POST">
        date: <input type = "text" name="date" /><br/>
        name: <input type = "text" name="name" /><br/>
        amount: <input type = "text" name="amount" /><br/>
        from: <input type = "text" name="from" /><br/>
        <input type="submit" value="Create New item">
    </form>
</div>
</body>
</html>